<article>
    <h1>Projetos</h1>
</article>

<section class="Projetos">
  <div class="grid-container">
    <div class="grid-item">
        <iframe src="https://scratch.mit.edu/projects/1018011379/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
        <h1>Cheetos</h1>
        <p>jogo de adivinha com um pote de cheetos mágico</p>
    </div>
    <div class="grid-item">
        <iframe src="https://scratch.mit.edu/projects/1020214767/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
        <h1>Sapo Mago</h1>
        <p>Um jogo sobre um sapo que come muita maça e é um mago</p>
    </div>
    <div class="grid-item">
        <iframe src="https://scratch.mit.edu/projects/1024532073/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
        <h1>Undertale</h1>
        <p>Um jogo sobre a batalha do sans e da frisk de untertale</p>
    </div>
    <div (click)="abreProjeto('piadas')" class="grid-item">

    </div>
    <div class="grid-item">Projeto 5</div>
    <div class="grid-item">Projeto 6</div>>
  </div>
</section>
