<section class="fundo">
    <article>
        <h1>Sobre mim</h1>
        <p>Olá sou Henrique Hack da Silva, tenho 15 anos estudo no E.E.B Raulino Horn, 
            não trabalho, ja fiz 2 cursos 1 de ti básico e 1 de design gráfico e atualmente 
            faço um curso de programaçao oferecido pelo SENAI. futuramente pretendo fazer 
            uma faculdade de biologia dentro do pais ou uma de paleontologia fora do pais,
             gostaria de morar no japão, canada ou austrália gosto de ler mangas e gosto de 
             jogar soulslikes, soulsbornes e rouguelikes</p>
    </article>
    <figure>
        <img src="/assets/img/anfitri.png">
    </figure>
</section>
